/* ./src/index.css */
@font-face {
  font-display: swap;
  font-family: "Avenir";
  src: url("./assets/fonts/Avenir.woff2") format("woff2"),
    url("./assets/fonts/Avenir.woff") format("woff");
  font-weight: 500;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Avenir, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  min-width: 0 !important;
}

.customSelect {
  appearance: none;
  background: center right no-repeat url("./assets/icons/arrow.svg");
  background-size: 12px 6px;
}

input[type="radio"] + label span {
  transition: background 0.2s, transform 0.2s;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span {
  transform: scale(1.2);
}

input[type="radio"]:checked + label span {
  background-color: #3a395e;
  box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked + label {
  color: #3a395e;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
